<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>身份核查挡板-业务测试71</title>
		<link rel="stylesheet" type="text/css" href="../static/css/picp.css" />
	</head>

	<body>
		<div id="div_head">
			<img src="../static/img/picp_head.png" />
		</div>
		<div id="div_input">
			<p class="n">按格式添加身份核查信息(英文逗号间隔)：330825199101312222=林动, 330825199101313333=苍天, ......</p>
			<form id="finput" action="addPicp" method="get">
				<input type="text" name="input" id="input" class="input_box" autofocus="autofocus" required="required" maxlength="1024"/>
				<input type="submit" value="添加" class="button"/>
			</form>		
		</div>
		<div id="div_output">
			<p id="outnote">{{ result }}</p>
                        <p id="msg">{{ msg }}</p>
		</div>
		<div id="div_note">
			<ul class="menu">
				<li class="note">
					<div id="note1" class="left">
						<pre id="pre">
请求报文固定值说明：
    	SYS_HEAD：
	        [服务代码] SERVICE_CODE=11003000002
	        [服务场景] SERVICE_SCENE=01
	        [服务提供者ID] PROVIDER_ID=404010
	        [报文代码] MESSAGE_CODE=0001
    	BODY：
	        [业务类型] BUSS_TYPE=01
	        [核查机构] CHECK_BRANCH=313345010019
						</pre>
					</div>
				</li>
				<li class="note">
					<div id="note2" class="left">
						<pre id="pre">

挡板返回信息说明：
    	05 = 输入参数有误, 请仔细核对请求报文字段内容
    	04 = 其他未知错误
    	03 = 证件号码不存在, 挡板中不存在相关身份证内容
    	02 = 证件号码存在, 姓名不符合
    	01 = 姓名一致，照片不存在
    	00 = 姓名一致，存在照片
						</pre>
					</div>
				</li>
			</ul>

		</div>
	</body>

</html>
